<h1>Mangas</h1>>
<table>
    <tr>
        <th>Title</th>
        <th>Volume</th>
    </tr>
    {{#each data}}
    <tr>
        <td>{{this.title}}</th>
        <td>{{this.volume}}</th>
    </tr>
    {{/each}}
</table>